name: tests-auth

# whenever a pull_request is created/re-opened
on:
  pull_request:
    paths:
      - "services/auth/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: cd services/auth && npm i && npm run test:ci
